#### get_dummies()로 원핫인코딩이 가능함
- 카테고리에 해당하는 문자변수를 낱개의 필드(x)로 쪼갠다
- 유니크한 카테고리 낱개들의 갯수가 너무 많으면 x변수로 다 처리가 되지 않는다
- 라쏘 모듈을 사용하면 된다(L1 정규화)
- 교재 119p

In [6]:
import pandas as pd

df = pd.DataFrame({'items':('TV, 냉장고, 전자렌지, 컴퓨터, 선풍기, 선풍기, 믹서, 믹서').split(', ')})
df.head()

  items
0    TV
1   냉장고
2  전자렌지
3   컴퓨터
4   선풍기

In [8]:
pd.get_dummies(df)

   items_TV  items_냉장고  items_믹서  items_선풍기  items_전자렌지  items_컴퓨터
0      True      False     False      False       False      False
1     False       True     False      False       False      False
2     False      False     False      False        True      False
3     False      False     False      False       False       True
4     False      False     False       True       False      False
5     False      False     False       True       False      False
6     False      False      True      False       False      False
7     False      False      True      False       False      False